/* Header */
.header {
  max-height: 200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.header_img-logo img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin: 0 1rem;
}
.header_container-links {
  display: flex;
  align-items: center;
}
.header_container-links a {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  color: rgb(36, 40, 47);
  margin: 15px;
}
.header_container-links-button a {
  display: flex;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid rgb(255, 152, 0);
  color: rgb(36, 40, 47);
  background-color: transparent;
}
.header_container-links .btn-heart {
  display: none;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 16px;
  padding: 3px 12px;
  border-radius: 5px;
  border: 1px solid rgb(255, 152, 0);
  color: rgb(36, 40, 47);
  background-color: transparent;
}
.header_container-links :hover {
  color: rgb(255, 152, 0);
}
.header_container-links-button :hover {
  color: white;
  background-color: rgb(255, 152, 0);
}

/* hero */
.hero_title h1 {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  font-weight: 800;
}

/* character */
.container_character {
  background-color: rgb(36, 40, 47);
  height: auto;
}
.container_card-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container_card-API {
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px 20px;
  min-height: 28rem;
  max-width: 18rem;
  display: grid;
  vertical-align: middle;
  background-color: rgb(60, 62, 68);
}
.container_box-image img {
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
}
.container_box-description {
  color: white;
  margin: 0 1rem;
  min-height: 16rem;
}
.container_box-description p {
  color: rgb(155, 158, 158);
  font-size: 1rem;
}
.container_box-description a {
  text-decoration: none;
  color: white;
}
.container_box-descriptions h4 {
  display: flex;
  align-items: center;
}
.box_name-status {
  display: inline-block;
  margin: 0.5rem 0;
  line-height: 1.5rem;
}
.box_name-status h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  height: 5.5rem;
}
.box_name-status h4 {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.box_name-status a {
  font-weight: 800;
  font-size: 27px;
}
.name :hover {
  color: black;
}
.box_location {
  line-height: 1.5rem;
}
.box_location a :hover {
  color: rgb(255, 152, 0);
}
.box_first-seen {
  margin: 1rem 0;
}
/* footer */
.footer {
  background-color: rgb(32, 35, 41);
  height: 300px;
  max-width: auto;
}
.footer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.content_links-API a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin: 5px 10px;
}
.content_links-API :hover {
  color: rgb(255, 152, 0);
}
.content_liks {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.content_liks img {
  padding: 10px 10px;
  height: 20px;
  width: 20px;
  fill: white;
}
#github {
  fill: white;
}

.netlify {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.netlify img {
  height: 80px;
  width: 130px;
}
.content_link-server a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  font-size: 13px;
}
.creator {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 13px;
  margin-top: 20px;
}
.creator a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgb(255, 152, 0);
  font-weight: bolder;
}
.creator :hover a {
  color: rgb(255, 152, 0);
  border-bottom: transparent;
}
.content_link-server :hover {
  color: rgb(255, 152, 0);
}
.content_liks a {
  color: orangered;
}
.btn-primary {
  border-color: white;
  height: 100px;
  width: 100%;
}
