.container_card-API a {
  text-decoration: none;
  color: white;
  font-family: inherit;
}
.container_box-image p {
  color: rgb(155, 158, 158);
  font-size: 15px;
}
.Name {
  font-weight: 800;
  font-size: 27px;
}
.Name:hover {
  color: rgb(255, 152, 0);
}
.Location {
  font-weight: 400;
}
.Location:hover {
  color: rgb(255, 152, 0);
}
.container_character-card {
  margin: 50px 25px;
}
.content_links-API a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin: 5px 10px;
}
.content_links-API :hover {
  color: rgb(255, 152, 0);
}
