.alive {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  margin-right: 5px;
}
.dead {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  margin-right: 5px;
}
